body {
    background: lightcyan;
    color: darkgreen;
}
h1 {
    font-size: 30px;
    display:flex;
    justify-content: center;
}
h2 {
    font-size: 20px;
    display:flex;
    justify-content: center;
}
button {
    background-color: black;
    color: azure;
    display:flex;
    justify-content: space-around;
}